html{
  margin: 0;
  padding: 0;
  color: #000;
  background: #a7a09a;
}

.container {
  width: 750px;
  margin: 0 auto;
  background: #99c;
}

.header{
  background-color: #DDDDDD;
  padding: 5px 10px;
}

h1 {
  margin: 0;
}

.navbar {
  padding: 5px 10px;
  background: #c99;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li{
  display: inline;
  padding: 0;
  margin: 0;
}

.column1 {
  width: 480px;
  padding: 10px;
  float: left;
  background-color: #99CC99;
}

h2 {
  margin: 0 0 1em;
}

.column2 {
  float: right;
  width: 230px;
  padding: 10px;
  background-color: #9999CC;
}
.footer {
  clear: both;
  padding: 5px 10px;
  background: #cc9;
}
.footer h3{
  margin: 0;
}
